#######################################################
###  TraceEvent.config
###
###  Change History
###  klynch		09/09/2014	Add Chat 1-1 trace support
###  sbhindar   11/18/2014  DR-0-214-788 - rename fields to RCS_xxx
###                         make incoming_protocol orevent field  
###  sbhindar   11/20/2014  DR-0-214-788 - traces for messages 
###                         from/to legacy
###  sbhindar   11/25/2014  DR-0-214-788 - make unified error id string
###  sbhindar   11/25/2014  DR-0-214-788 - fixed unified error id type. needs to be int
###  sbhindar   11/30/2014  DR-0-214-788 - add more fields for message_processing 
###                         trace records
######################################################

#FactoryTracingEvent uses the old ORML based tracing
#TraceEvent.extends=FactoryTracingEvent

# TracingEvent uses the new XML based tracing
TraceEvent.extends=TracingEvent
`	
TracingEvent.TlvRecordMaxSize=`

# TargetType = VAS/SMSC/MMSC
TracingEvent.parameter.TargetType.isMandatory=false
TracingEvent.parameter.TargetType.direction=in
TracingEvent.parameter.TargetType.OR_ATTR=MW:BILLING:TARGET_TYPE_CP

# SMStateType = INITIAL(0)/DELIVERED(1)/UNDELIVERED(2) 
TracingEvent.parameter.SMStateType.isMandatory=false
TracingEvent.parameter.SMStateType.direction=in
TracingEvent.parameter.SMStateType.OR_ATTR=MW:BILLING:SMSTATE_TYPE_CP

# Millisecond resolution for TEFinalStateTime and TIArrivalDate - not supported by trace loader
#TracingEvent.Formater.FIELD.1.dateFormat=yyyyMMddHHmmssSSS
#TracingEvent.Formater.FIELD.50.dateFormat=yyyyMMddHHmmssSSS


# DataType

# 0 = UNDEFINED
# 1 = STRING
# 2 = INTEGER
# 3 = SHORT
# 4 = NUMERIC
# 5 = DATE


# TraceType TracingInfo

# S - Short Message
# M - Multimedia Message 
# D - Delivery Report
# U - User Application
# R - Service Activation


# Middleware specific TLVs


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!NiR Kon !!!!!!!!!!!! bypass - to check later.
TraceEvent.TlvRecordMaxSize = 500
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


TracingEvent.Formater.FIELD.88.name=MwTITraceType
TracingEvent.Formater.FIELD.88.talid=801
TracingEvent.Formater.FIELD.88.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.88.param=TraceType
TracingEvent.Formater.FIELD.88.defaultValue=
TracingEvent.Formater.FIELD.88.datatype=3
TracingEvent.Formater.FIELD.88.removeIfEmpty=true

# SourceType = VAS/SMSC/MMSC
TracingEvent.Formater.FIELD.89.name=MwTISourceType
TracingEvent.Formater.FIELD.89.talid=802
TracingEvent.Formater.FIELD.89.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.89.param=SourceType
TracingEvent.Formater.FIELD.89.defaultValue=
TracingEvent.Formater.FIELD.89.datatype=3
TracingEvent.Formater.FIELD.89.removeIfEmpty=true

# OutGoingProtocol = MM7/SMPP/CIMD/UCP/SMTP/Px/HTTP
TracingEvent.Formater.FIELD.90.name=MwTEOutGoingProtocol
TracingEvent.Formater.FIELD.90.talid=803
TracingEvent.Formater.FIELD.90.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.90.param=MW:OUTGOING_PROTOCOL
TracingEvent.Formater.FIELD.90.defaultValue=
TracingEvent.Formater.FIELD.90.datatype=1
TracingEvent.Formater.FIELD.90.removeIfEmpty=true

TracingEvent.Formater.FIELD.91.name=MwTIReadReplyRequest
TracingEvent.Formater.FIELD.91.talid=804
TracingEvent.Formater.FIELD.91.calculator=ReadReplyIndicatorExtractor
TracingEvent.Formater.FIELD.91.datatype=1

TracingEvent.Formater.FIELD.92.name=MwTIRecipientsList
TracingEvent.Formater.FIELD.92.talid=805
TracingEvent.Formater.FIELD.92.calculator=DestinationAddressExtractor
TracingEvent.Formater.FIELD.92.datatype=1

TracingEvent.Formater.FIELD.93.name=MwTINoOfRecipients
TracingEvent.Formater.FIELD.93.talid=806
TracingEvent.Formater.FIELD.93.calculator=RCPTsNumExtractor
TracingEvent.Formater.FIELD.93.datatype=2

TracingEvent.Formater.FIELD.94.name=MwTIOperatorId
TracingEvent.Formater.FIELD.94.talid=807
TracingEvent.Formater.FIELD.94.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.94.param=MW:RESELLER_ID
TracingEvent.Formater.FIELD.94.defaultValue=
TracingEvent.Formater.FIELD.94.datatype=1
TracingEvent.Formater.FIELD.94.removeIfEmpty=true

TracingEvent.Formater.FIELD.95.name=MwTEAdditionalErrorInfo
TracingEvent.Formater.FIELD.95.talid=808
TracingEvent.Formater.FIELD.95.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.95.param=SMS:RETURN_STR
TracingEvent.Formater.FIELD.95.defaultValue=
TracingEvent.Formater.FIELD.95.datatype=1
TracingEvent.Formater.FIELD.95.removeIfEmpty=true

TracingEvent.Formater.FIELD.96.name=MwTISourceApplicationId
TracingEvent.Formater.FIELD.96.talid=809
TracingEvent.Formater.FIELD.96.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.96.param=MW:APP_UID
TracingEvent.Formater.FIELD.96.defaultValue=
TracingEvent.Formater.FIELD.96.datatype=1
TracingEvent.Formater.FIELD.96.removeIfEmpty=true

TracingEvent.Formater.FIELD.97.name=MwTEServerService
TracingEvent.Formater.FIELD.97.talid=810
TracingEvent.Formater.FIELD.97.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.97.param=FLOW:SOURCE_AGENT_PROFILE
TracingEvent.Formater.FIELD.97.defaultValue=DefaultServerService
TracingEvent.Formater.FIELD.97.datatype=1
TracingEvent.Formater.FIELD.97.removeIfEmpty=true

# TargetType = VAS/SMSC/MMSC
TracingEvent.Formater.FIELD.98.name=MwTETargetType
TracingEvent.Formater.FIELD.98.talid=811
TracingEvent.Formater.FIELD.98.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.98.param=TargetType
TracingEvent.Formater.FIELD.98.defaultValue=
TracingEvent.Formater.FIELD.98.datatype=3
TracingEvent.Formater.FIELD.98.removeIfEmpty=true

TracingEvent.Formater.FIELD.99.name=MwTETargetApplicationId
TracingEvent.Formater.FIELD.99.talid=812
TracingEvent.Formater.FIELD.99.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.99.param=MW:TARGET_APP_UID
TracingEvent.Formater.FIELD.99.defaultValue=
TracingEvent.Formater.FIELD.99.datatype=1
TracingEvent.Formater.FIELD.99.removeIfEmpty=true

TracingEvent.Formater.FIELD.100.name=MwTEUnifiedErrorId
TracingEvent.Formater.FIELD.100.talid=813
TracingEvent.Formater.FIELD.100.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.100.param=SMS:RETURN_CODE
TracingEvent.Formater.FIELD.100.defaultValue=
TracingEvent.Formater.FIELD.100.datatype=2
TracingEvent.Formater.FIELD.100.removeIfEmpty=true

TracingEvent.Formater.FIELD.101.name=user_callback_data
TracingEvent.Formater.FIELD.101.talid=814
TracingEvent.Formater.FIELD.101.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.101.param=TRACE:CALLBACKDATA
TracingEvent.Formater.FIELD.101.defaultValue=
TracingEvent.Formater.FIELD.101.datatype=1
TracingEvent.Formater.FIELD.101.removeIfEmpty=true

TracingEvent.Formater.FIELD.102.name=VAS_application_list
TracingEvent.Formater.FIELD.102.talid=815
TracingEvent.Formater.FIELD.102.calculator=com.comverse.middleware.cdr.cdrFieldExtractor.OORventList2TraceExtractor
TracingEvent.Formater.FIELD.102.param=SUBSCRIBER_ENROLLMENTS:INVOKED_APPLICATION_LIST
TracingEvent.Formater.FIELD.102.defaultValue=
TracingEvent.Formater.FIELD.102.datatype=1
TracingEvent.Formater.FIELD.102.removeIfEmpty=true
TracingEvent.Formater.FIELD.102.seperatorTag=^
TracingEvent.Formater.FIELD.102.limit=499

TracingEvent.Formater.FIELD.103.name=operation_detailed_info
TracingEvent.Formater.FIELD.103.talid=816
TracingEvent.Formater.FIELD.103.calculator=com.comverse.middleware.cdr.cdrFieldExtractor.OORventList2TraceExtractor
TracingEvent.Formater.FIELD.103.param=TRACE:OPERATION_DETAILED_INFO
TracingEvent.Formater.FIELD.103.defaultValue=
TracingEvent.Formater.FIELD.103.datatype=1
TracingEvent.Formater.FIELD.103.removeIfEmpty=true
TracingEvent.Formater.FIELD.103.seperatorTag=^
TracingEvent.Formater.FIELD.103.limit=3999

TracingEvent.Formater.FIELD.104.name=http_response_status
TracingEvent.Formater.FIELD.104.talid=817
TracingEvent.Formater.FIELD.104.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.104.param=TRACE:HTTP_RETURN_CODE
TracingEvent.Formater.FIELD.104.defaultValue=
TracingEvent.Formater.FIELD.104.datatype=3
TracingEvent.Formater.FIELD.104.removeIfEmpty=true

TracingEvent.Formater.FIELD.105.name=svc_error
TracingEvent.Formater.FIELD.105.talid=818
TracingEvent.Formater.FIELD.105.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.105.param=TRACE:SVC_ERROR_CODE
TracingEvent.Formater.FIELD.105.defaultValue=
TracingEvent.Formater.FIELD.105.datatype=1
TracingEvent.Formater.FIELD.105.removeIfEmpty=true

TracingEvent.Formater.FIELD.106.name=svc_text
TracingEvent.Formater.FIELD.106.talid=819
TracingEvent.Formater.FIELD.106.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.106.param=TRACE:SVC_ERROR_TEXT
TracingEvent.Formater.FIELD.106.defaultValue=
TracingEvent.Formater.FIELD.106.datatype=1
TracingEvent.Formater.FIELD.106.removeIfEmpty=true



# --------------------------------------------
# New HEADER fields for ECS Tracing ECS 2.3
# SIP REGISTER
# Fields 107 - 123
# --------------------------------------------

TracingEvent.Formater.FIELD.107.name=Register_Header_TransactionUID
TracingEvent.Formater.FIELD.107.talid=105
TracingEvent.Formater.FIELD.107.calculator=TransactionUIDExtractor
TracingEvent.Formater.FIELD.107.datatype=1
TracingEvent.Formater.FIELD.107.removeIfEmpty=false

TracingEvent.Formater.FIELD.108.name=Register_Header_TransactionISN
TracingEvent.Formater.FIELD.108.talid=28
TracingEvent.Formater.FIELD.108.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.108.datatype=1
TracingEvent.Formater.FIELD.108.param=SMS:SM_ISN
TracingEvent.Formater.FIELD.108.removeIfEmpty=false

TracingEvent.Formater.FIELD.109.name=Register_Header_TraceType
TracingEvent.Formater.FIELD.109.talid=801
TracingEvent.Formater.FIELD.109.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.109.datatype=3
TracingEvent.Formater.FIELD.109.param=TraceType
TracingEvent.Formater.FIELD.109.removeIfEmpty=false

TracingEvent.Formater.FIELD.110.name=Register_Header_ArrivalDate
TracingEvent.Formater.FIELD.110.talid=58
TracingEvent.Formater.FIELD.110.calculator=TIArrivalDateExtractor
TracingEvent.Formater.FIELD.110.dateFormat=yyyyMMddHHmmss
TracingEvent.Formater.FIELD.110.datatype=5
TracingEvent.Formater.FIELD.110.removeIfEmpty=false

TracingEvent.Formater.FIELD.111.name=Register_Header_FullSourceAddress
TracingEvent.Formater.FIELD.111.talid=55
TracingEvent.Formater.FIELD.111.calculator=RegisterFullSourceAddressExtractor
TracingEvent.Formater.FIELD.111.datatype=1
TracingEvent.Formater.FIELD.111.defaultValue=
TracingEvent.Formater.FIELD.111.param=SIP:TARGET
TracingEvent.Formater.FIELD.111.removeIfEmpty=true

TracingEvent.Formater.FIELD.112.name=Register_Header_FullTargetAddress
TracingEvent.Formater.FIELD.112.talid=54
TracingEvent.Formater.FIELD.112.calculator=RegisterTargetAddressExtractor
TracingEvent.Formater.FIELD.112.datatype=1
TracingEvent.Formater.FIELD.112.param=SIP:CONTACT_LIST
TracingEvent.Formater.FIELD.112.removeIfEmpty=true

TracingEvent.Formater.FIELD.113.name=Register_Header_Priority
TracingEvent.Formater.FIELD.113.talid=24
TracingEvent.Formater.FIELD.113.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.113.param=SIP:PRIORITY
TracingEvent.Formater.FIELD.113.defaultValue=0
TracingEvent.Formater.FIELD.113.datatype=2
TracingEvent.Formater.FIELD.113.removeIfEmpty=true

TracingEvent.Formater.FIELD.114.name=Register_Header_ValidityPeriod
TracingEvent.Formater.FIELD.114.talid=4
TracingEvent.Formater.FIELD.114.calculator=RegisterValidityPeriodExtractor
TracingEvent.Formater.FIELD.114.datatype=2
TracingEvent.Formater.FIELD.114.param=SIP:CONTACT_LIST
TracingEvent.Formater.FIELD.114.removeIfEmpty=true

TracingEvent.Formater.FIELD.115.name=Register_Header_MessageSize
TracingEvent.Formater.FIELD.115.talid=80
TracingEvent.Formater.FIELD.115.calculator=RegisterMessageSizeExtractor
TracingEvent.Formater.FIELD.115.datatype=2
TracingEvent.Formater.FIELD.115.defaultValue=0
TracingEvent.Formater.FIELD.115.removeIfEmpty=true

TracingEvent.Formater.FIELD.116.name=Register_Header_SourceType
TracingEvent.Formater.FIELD.116.talid=802
TracingEvent.Formater.FIELD.116.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.116.datatype=3
TracingEvent.Formater.FIELD.116.param=SourceType
TracingEvent.Formater.FIELD.116.removeIfEmpty=false

TracingEvent.Formater.FIELD.117.name=Register_Header_IncomingProtocol
TracingEvent.Formater.FIELD.117.talid=338
TracingEvent.Formater.FIELD.117.calculator=ConstExtractor
TracingEvent.Formater.FIELD.117.datatype=1
TracingEvent.Formater.FIELD.117.param=SIP
TracingEvent.Formater.FIELD.117.removeIfEmpty=true

TracingEvent.Formater.FIELD.118.name=Register_Header_SourceEIID
TracingEvent.Formater.FIELD.118.talid=50
TracingEvent.Formater.FIELD.118.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.118.datatype=1
TracingEvent.Formater.FIELD.118.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.118.removeIfEmpty=true

TracingEvent.Formater.FIELD.119.name=Register_Header_SourceEIClassNumber
TracingEvent.Formater.FIELD.119.talid=125
TracingEvent.Formater.FIELD.119.calculator=ConstExtractor
TracingEvent.Formater.FIELD.119.datatype=3
TracingEvent.Formater.FIELD.119.param=77
TracingEvent.Formater.FIELD.119.removeIfEmpty=true

TracingEvent.Formater.FIELD.120.name=Register_Header_SourceEIGroupNumber
TracingEvent.Formater.FIELD.120.talid=126
TracingEvent.Formater.FIELD.120.calculator=SourceEIGroupNumExtractor
TracingEvent.Formater.FIELD.120.datatype=3
TracingEvent.Formater.FIELD.120.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.120.removeIfEmpty=true

TracingEvent.Formater.FIELD.121.name=Register_Header_SMClass
TracingEvent.Formater.FIELD.121.talid=114
TracingEvent.Formater.FIELD.121.calculator=ConstExtractor
TracingEvent.Formater.FIELD.121.datatype=3
TracingEvent.Formater.FIELD.121.param=6
TracingEvent.Formater.FIELD.121.removeIfEmpty=true

TracingEvent.Formater.FIELD.122.name=Register_Header_PublicGruu
TracingEvent.Formater.FIELD.122.talid=823
TracingEvent.Formater.FIELD.122.calculator=RegisterPublicGruuExtractor
TracingEvent.Formater.FIELD.122.datatype=1
TracingEvent.Formater.FIELD.122.param=SIP:DEVICE_CONTACT
TracingEvent.Formater.FIELD.122.removeIfEmpty=true

TracingEvent.Formater.FIELD.123.name=Register_Header_SIPInstance
TracingEvent.Formater.FIELD.123.talid=824
TracingEvent.Formater.FIELD.123.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.123.datatype=1
TracingEvent.Formater.FIELD.123.param=SIP:SIP_INSTANCE_TAG
TracingEvent.Formater.FIELD.123.removeIfEmpty=true



# --------------------------------------------
# New EVENT fields for ECS Tracing ECS 2.3
# SIP REGISTER
# Fields 124 - 139
# --------------------------------------------

TracingEvent.Formater.FIELD.124.name=Register_Event_TransactionUID
TracingEvent.Formater.FIELD.124.talid=105
TracingEvent.Formater.FIELD.124.calculator=TransactionUIDExtractor
TracingEvent.Formater.FIELD.124.datatype=1
TracingEvent.Formater.FIELD.124.removeIfEmpty=false

TracingEvent.Formater.FIELD.125.name=Register_Event_TransactionISN
TracingEvent.Formater.FIELD.125.talid=28
TracingEvent.Formater.FIELD.125.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.125.datatype=1
TracingEvent.Formater.FIELD.125.param=SMS:SM_ISN
TracingEvent.Formater.FIELD.125.removeIfEmpty=false

TracingEvent.Formater.FIELD.126.name=Register_Event_ArrivalDate
TracingEvent.Formater.FIELD.126.talid=58
TracingEvent.Formater.FIELD.126.calculator=TEArrivalDateExtractor
TracingEvent.Formater.FIELD.126.dateFormat=yyyyMMddHHmmss
TracingEvent.Formater.FIELD.126.datatype=5
TracingEvent.Formater.FIELD.126.removeIfEmpty=false

TracingEvent.Formater.FIELD.127.name=Register_Event_EventDate
TracingEvent.Formater.FIELD.127.talid=34
TracingEvent.Formater.FIELD.127.calculator=RegisterEventDateExtractor
TracingEvent.Formater.FIELD.127.dateFormat=yyyyMMddHHmmss
TracingEvent.Formater.FIELD.127.datatype=5
TracingEvent.Formater.FIELD.127.removeIfEmpty=false

TracingEvent.Formater.FIELD.128.name=Register_Event_EventNum
TracingEvent.Formater.FIELD.128.talid=1030
TracingEvent.Formater.FIELD.128.calculator=ConstExtractor
TracingEvent.Formater.FIELD.128.datatype=2
TracingEvent.Formater.FIELD.128.param=1
TracingEvent.Formater.FIELD.128.removeIfEmpty=false

TracingEvent.Formater.FIELD.129.name=Register_Event_EventType
TracingEvent.Formater.FIELD.129.talid=123
TracingEvent.Formater.FIELD.129.calculator=ConstExtractor
TracingEvent.Formater.FIELD.129.datatype=1
TracingEvent.Formater.FIELD.129.param=N/A
TracingEvent.Formater.FIELD.129.removeIfEmpty=false

TracingEvent.Formater.FIELD.130.name=Register_Event_TargetType
TracingEvent.Formater.FIELD.130.talid=811
TracingEvent.Formater.FIELD.130.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.130.datatype=3
TracingEvent.Formater.FIELD.130.param=TargetType
TracingEvent.Formater.FIELD.130.removeIfEmpty=false

TracingEvent.Formater.FIELD.131.name=Register_Event_FullSourceAddress
TracingEvent.Formater.FIELD.131.talid=55
TracingEvent.Formater.FIELD.131.calculator=ConstExtractor
TracingEvent.Formater.FIELD.131.datatype=1
TracingEvent.Formater.FIELD.131.param=N/A
TracingEvent.Formater.FIELD.131.removeIfEmpty=false

TracingEvent.Formater.FIELD.132.name=Register_Event_FullTargetAddress
TracingEvent.Formater.FIELD.132.talid=54
TracingEvent.Formater.FIELD.132.calculator=ConstExtractor
TracingEvent.Formater.FIELD.132.datatype=1
TracingEvent.Formater.FIELD.132.param=N/A
TracingEvent.Formater.FIELD.132.removeIfEmpty=false

TracingEvent.Formater.FIELD.133.name=Register_Event_GeneralError
TracingEvent.Formater.FIELD.133.talid=127
TracingEvent.Formater.FIELD.133.calculator=ConstExtractor
TracingEvent.Formater.FIELD.133.datatype=1
TracingEvent.Formater.FIELD.133.param=N/A
TracingEvent.Formater.FIELD.133.removeIfEmpty=false

TracingEvent.Formater.FIELD.134.name=Register_Event_UnifiedErrorId
TracingEvent.Formater.FIELD.134.talid=813
TracingEvent.Formater.FIELD.134.calculator=RegisterUnifiedErrorIdExtractor
TracingEvent.Formater.FIELD.134.defaultValue=
TracingEvent.Formater.FIELD.134.datatype=2
TracingEvent.Formater.FIELD.134.param=SMS:RETURN_CODE
TracingEvent.Formater.FIELD.134.removeIfEmpty=true

TracingEvent.Formater.FIELD.135.name=Register_Event_AdditionalErrorInformation
TracingEvent.Formater.FIELD.135.talid=808
TracingEvent.Formater.FIELD.135.calculator=RegisterAdditionalErrorInformationExtractor
TracingEvent.Formater.FIELD.135.datatype=1
TracingEvent.Formater.FIELD.135.param=SMS:RETURN_CODE
TracingEvent.Formater.FIELD.135.removeIfEmpty=true

TracingEvent.Formater.FIELD.136.name=Register_Event_SMState
TracingEvent.Formater.FIELD.136.talid=29
TracingEvent.Formater.FIELD.136.calculator=ConstExtractor
TracingEvent.Formater.FIELD.136.datatype=1
TracingEvent.Formater.FIELD.136.param=N/A
TracingEvent.Formater.FIELD.136.removeIfEmpty=false

TracingEvent.Formater.FIELD.137.name=Register_Event_SourceEIID
TracingEvent.Formater.FIELD.137.talid=50
TracingEvent.Formater.FIELD.137.calculator=ConstExtractor
TracingEvent.Formater.FIELD.137.datatype=1
TracingEvent.Formater.FIELD.137.param=N/A
TracingEvent.Formater.FIELD.137.removeIfEmpty=false

TracingEvent.Formater.FIELD.138.name=Register_Event_SourceEIClassNumber
TracingEvent.Formater.FIELD.138.talid=125
TracingEvent.Formater.FIELD.138.calculator=ConstExtractor
TracingEvent.Formater.FIELD.138.datatype=3
TracingEvent.Formater.FIELD.138.param=N/A
TracingEvent.Formater.FIELD.138.removeIfEmpty=false

TracingEvent.Formater.FIELD.139.name=Register_Event_SourceEIGroupNumber
TracingEvent.Formater.FIELD.139.talid=125
TracingEvent.Formater.FIELD.139.calculator=ConstExtractor
TracingEvent.Formater.FIELD.139.datatype=3
TracingEvent.Formater.FIELD.139.param=N/A
TracingEvent.Formater.FIELD.139.removeIfEmpty=false





# --------------------------------------------
# New HEADER fields for ECS Tracing ECS 2.3
# SIP OPTIONS
# Fields 140 - 158
# --------------------------------------------

TracingEvent.Formater.FIELD.140.name=Options_Header_TransactionUID
TracingEvent.Formater.FIELD.140.talid=105
TracingEvent.Formater.FIELD.140.calculator=TransactionUIDExtractor
TracingEvent.Formater.FIELD.140.datatype=1
TracingEvent.Formater.FIELD.140.removeIfEmpty=false

TracingEvent.Formater.FIELD.141.name=Options_Header_TransactionISN
TracingEvent.Formater.FIELD.141.talid=28
TracingEvent.Formater.FIELD.141.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.141.datatype=1
TracingEvent.Formater.FIELD.141.param=SMS:SM_ISN
TracingEvent.Formater.FIELD.141.removeIfEmpty=false

TracingEvent.Formater.FIELD.142.name=Options_Header_TraceType
TracingEvent.Formater.FIELD.142.talid=801
TracingEvent.Formater.FIELD.142.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.142.datatype=3
TracingEvent.Formater.FIELD.142.param=TraceType
TracingEvent.Formater.FIELD.142.removeIfEmpty=false

TracingEvent.Formater.FIELD.143.name=Options_Header_ArrivalDate
TracingEvent.Formater.FIELD.143.talid=58
TracingEvent.Formater.FIELD.143.calculator=TIArrivalDateExtractor
TracingEvent.Formater.FIELD.143.dateFormat=yyyyMMddHHmmss
TracingEvent.Formater.FIELD.143.datatype=5
TracingEvent.Formater.FIELD.143.removeIfEmpty=false

TracingEvent.Formater.FIELD.144.name=Options_Header_FullSourceAddress
TracingEvent.Formater.FIELD.144.talid=55
TracingEvent.Formater.FIELD.144.calculator=OptionsFullSourceAddressExtractor
TracingEvent.Formater.FIELD.144.datatype=1
TracingEvent.Formater.FIELD.144.defaultValue=
TracingEvent.Formater.FIELD.144.param=SIP:ORIGIN
TracingEvent.Formater.FIELD.144.removeIfEmpty=true

TracingEvent.Formater.FIELD.145.name=Options_Header_FullTargetAddress
TracingEvent.Formater.FIELD.145.talid=54
TracingEvent.Formater.FIELD.145.calculator=OptionsFullTargetAddressExtractor
TracingEvent.Formater.FIELD.145.datatype=1
TracingEvent.Formater.FIELD.145.param=SIP:TARGET
TracingEvent.Formater.FIELD.145.removeIfEmpty=true

TracingEvent.Formater.FIELD.146.name=Options_Header_MessageSize
TracingEvent.Formater.FIELD.146.talid=80
TracingEvent.Formater.FIELD.146.calculator=OptionsMessageSizeExtractor
TracingEvent.Formater.FIELD.146.datatype=2
TracingEvent.Formater.FIELD.146.defaultValue=0
TracingEvent.Formater.FIELD.146.removeIfEmpty=true

TracingEvent.Formater.FIELD.147.name=Options_Header_SourceType
TracingEvent.Formater.FIELD.147.talid=802
TracingEvent.Formater.FIELD.147.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.147.datatype=3
TracingEvent.Formater.FIELD.147.param=SourceType
TracingEvent.Formater.FIELD.147.removeIfEmpty=false

TracingEvent.Formater.FIELD.148.name=Options_Header_IncomingProtocol
TracingEvent.Formater.FIELD.148.talid=338
TracingEvent.Formater.FIELD.148.calculator=ConstExtractor
TracingEvent.Formater.FIELD.148.datatype=1
TracingEvent.Formater.FIELD.148.param=SIP
TracingEvent.Formater.FIELD.148.removeIfEmpty=true

TracingEvent.Formater.FIELD.149.name=Options_Header_NumOfRecipients
TracingEvent.Formater.FIELD.149.talid=806
TracingEvent.Formater.FIELD.149.calculator=ConstExtractor
TracingEvent.Formater.FIELD.149.datatype=2
TracingEvent.Formater.FIELD.149.param=1
TracingEvent.Formater.FIELD.149.removeIfEmpty=true

TracingEvent.Formater.FIELD.150.name=Options_Header_SourceEIID
TracingEvent.Formater.FIELD.150.talid=50
TracingEvent.Formater.FIELD.150.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.150.datatype=1
TracingEvent.Formater.FIELD.150.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.150.removeIfEmpty=true

TracingEvent.Formater.FIELD.151.name=Options_Header_SourceEIClassNumber
TracingEvent.Formater.FIELD.151.talid=125
TracingEvent.Formater.FIELD.151.calculator=ConstExtractor
TracingEvent.Formater.FIELD.151.datatype=3
TracingEvent.Formater.FIELD.151.param=77
TracingEvent.Formater.FIELD.151.removeIfEmpty=true

TracingEvent.Formater.FIELD.152.name=Options_Header_SourceEIGroupNumber
TracingEvent.Formater.FIELD.152.talid=126
TracingEvent.Formater.FIELD.152.calculator=SourceEIGroupNumExtractor
TracingEvent.Formater.FIELD.152.datatype=3
TracingEvent.Formater.FIELD.152.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.152.removeIfEmpty=true

TracingEvent.Formater.FIELD.153.name=Options_Header_SMClass
TracingEvent.Formater.FIELD.153.talid=114
TracingEvent.Formater.FIELD.153.calculator=ConstExtractor
TracingEvent.Formater.FIELD.153.datatype=3
TracingEvent.Formater.FIELD.153.param=7
TracingEvent.Formater.FIELD.153.removeIfEmpty=true

TracingEvent.Formater.FIELD.154.name=Options_Header_OperationDetailedInfo
TracingEvent.Formater.FIELD.154.talid=816
TracingEvent.Formater.FIELD.154.calculator=OptionsOperationDetailedInfoExtractor
TracingEvent.Formater.FIELD.154.param=SIP:SIP_CAPABILITIES
TracingEvent.Formater.FIELD.154.defaultValue=
TracingEvent.Formater.FIELD.154.datatype=1
TracingEvent.Formater.FIELD.154.removeIfEmpty=true
TracingEvent.Formater.FIELD.154.seperatorTag=^
TracingEvent.Formater.FIELD.154.limit=3999

TracingEvent.Formater.FIELD.155.name=Options_Header_RCSMessageID
TracingEvent.Formater.FIELD.155.talid=820
TracingEvent.Formater.FIELD.155.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.155.datatype=1
TracingEvent.Formater.FIELD.155.param=SIP:CALL_ID
TracingEvent.Formater.FIELD.155.removeIfEmpty=true

TracingEvent.Formater.FIELD.156.name=Options_Header_PublicGruu
TracingEvent.Formater.FIELD.156.talid=823
TracingEvent.Formater.FIELD.156.calculator=OptionsPublicGruuExtractor
TracingEvent.Formater.FIELD.156.datatype=1
TracingEvent.Formater.FIELD.156.param=SIP:DEVICE_CONTACT
TracingEvent.Formater.FIELD.156.removeIfEmpty=true

TracingEvent.Formater.FIELD.157.name=Options_Header_SIPInstance
TracingEvent.Formater.FIELD.157.talid=824
TracingEvent.Formater.FIELD.157.calculator=OptionsSIPInstanceExtractor
TracingEvent.Formater.FIELD.157.datatype=1
TracingEvent.Formater.FIELD.157.param=SIP:SIP_CAPABILITIES
TracingEvent.Formater.FIELD.157.removeIfEmpty=true

# TODO Modify the Extractor and change the param SIP:DEVICE_CONTACT
TracingEvent.Formater.FIELD.158.name=Options_Header_MessageDeliveryType
TracingEvent.Formater.FIELD.158.talid=825
TracingEvent.Formater.FIELD.158.calculator=OptionsMessageDeliveryTypeExtractor
TracingEvent.Formater.FIELD.158.datatype=1
TracingEvent.Formater.FIELD.158.param=SIP:DEVICE_CONTACT
TracingEvent.Formater.FIELD.158.removeIfEmpty=true



# --------------------------------------------
# New EVENT fields for ECS Tracing ECS 2.3
# SIP OPTIONS
# Fields 159 - 170
# --------------------------------------------


TracingEvent.Formater.FIELD.159.name=Options_Event_TransactionUID
TracingEvent.Formater.FIELD.159.talid=105
TracingEvent.Formater.FIELD.159.calculator=TransactionUIDExtractor
TracingEvent.Formater.FIELD.159.datatype=1
TracingEvent.Formater.FIELD.159.removeIfEmpty=false

TracingEvent.Formater.FIELD.160.name=Options_Event_TransactionISN
TracingEvent.Formater.FIELD.160.talid=28
TracingEvent.Formater.FIELD.160.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.160.datatype=1
TracingEvent.Formater.FIELD.160.param=SMS:SM_ISN
TracingEvent.Formater.FIELD.160.removeIfEmpty=false

TracingEvent.Formater.FIELD.161.name=Options_Event_ArrivalDate
TracingEvent.Formater.FIELD.161.talid=58
TracingEvent.Formater.FIELD.161.calculator=TEArrivalDateExtractor
TracingEvent.Formater.FIELD.161.dateFormat=yyyyMMddHHmmss
TracingEvent.Formater.FIELD.161.datatype=5
TracingEvent.Formater.FIELD.161.removeIfEmpty=false

TracingEvent.Formater.FIELD.162.name=Options_Event_EventDate
TracingEvent.Formater.FIELD.162.talid=34
TracingEvent.Formater.FIELD.162.calculator=OptionsEventDateExtractor
TracingEvent.Formater.FIELD.162.dateFormat=yyyyMMddHHmmss
TracingEvent.Formater.FIELD.162.datatype=5

TracingEvent.Formater.FIELD.163.name=Options_Event_EventNum
TracingEvent.Formater.FIELD.163.talid=1030
TracingEvent.Formater.FIELD.163.calculator=OptionsEventNumExtractor
TracingEvent.Formater.FIELD.163.param=SIP:CALL_ID
TracingEvent.Formater.FIELD.163.datatype=2
TracingEvent.Formater.FIELD.163.removeIfEmpty=false

TracingEvent.Formater.FIELD.164.name=Options_Event_TargetType
TracingEvent.Formater.FIELD.164.talid=811
TracingEvent.Formater.FIELD.164.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.164.datatype=3
TracingEvent.Formater.FIELD.164.param=TargetType
TracingEvent.Formater.FIELD.164.removeIfEmpty=false

TracingEvent.Formater.FIELD.165.name=Options_Event_UnifiedErrorId
TracingEvent.Formater.FIELD.165.talid=813
TracingEvent.Formater.FIELD.165.calculator=OptionsUnifiedErrorIdExtractor
TracingEvent.Formater.FIELD.165.defaultValue=
TracingEvent.Formater.FIELD.165.datatype=2
TracingEvent.Formater.FIELD.165.param=TRACE:UNIFIED_ERROR_ID
TracingEvent.Formater.FIELD.165.removeIfEmpty=true

TracingEvent.Formater.FIELD.166.name=Options_Event_AdditionalErrorInformation
TracingEvent.Formater.FIELD.166.talid=808
TracingEvent.Formater.FIELD.166.calculator=OptionsAdditionalErrorInformationExtractor
TracingEvent.Formater.FIELD.166.datatype=1
TracingEvent.Formater.FIELD.166.param=TRACE:UNIFIED_ERROR_ID
TracingEvent.Formater.FIELD.166.removeIfEmpty=true

TracingEvent.Formater.FIELD.167.name=Options_Event_OutgoingProtocol
TracingEvent.Formater.FIELD.167.talid=339
TracingEvent.Formater.FIELD.167.calculator=ConstExtractor
TracingEvent.Formater.FIELD.167.datatype=1
TracingEvent.Formater.FIELD.167.param=SIP
TracingEvent.Formater.FIELD.167.removeIfEmpty=true

TracingEvent.Formater.FIELD.168.name=Options_Event_TargetEIID
TracingEvent.Formater.FIELD.168.talid=97
TracingEvent.Formater.FIELD.168.calculator=ConstExtractor
TracingEvent.Formater.FIELD.168.datatype=1
TracingEvent.Formater.FIELD.168.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.168.removeIfEmpty=true

TracingEvent.Formater.FIELD.169.name=Options_Event_TargetEIClassNumber
TracingEvent.Formater.FIELD.169.talid=1061
TracingEvent.Formater.FIELD.169.calculator=ConstExtractor
TracingEvent.Formater.FIELD.169.datatype=3
TracingEvent.Formater.FIELD.169.param=77
TracingEvent.Formater.FIELD.169.removeIfEmpty=true

TracingEvent.Formater.FIELD.170.name=Options_Event_TargetEIGroupNumber
TracingEvent.Formater.FIELD.170.talid=1062
TracingEvent.Formater.FIELD.170.calculator=ConstExtractor
TracingEvent.Formater.FIELD.170.datatype=3
TracingEvent.Formater.FIELD.170.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.170.removeIfEmpty=true


--------------------------------------------
# New HEADER fields for ECS Tracing
# CHAT 1 to 1
# Fields 171 - 191
# ------------------------------------------

TracingEvent.Formater.FIELD.171.name=RCS_Header_TransactionUID
TracingEvent.Formater.FIELD.171.talid=105
TracingEvent.Formater.FIELD.171.calculator=TransactionUIDExtractor
TracingEvent.Formater.FIELD.171.datatype=1
TracingEvent.Formater.FIELD.171.removeIfEmpty=false

TracingEvent.Formater.FIELD.172.name=RCS_Header_TransactionISN
TracingEvent.Formater.FIELD.172.talid=28
TracingEvent.Formater.FIELD.172.calculator=OOREventAttributeExtractor
TracingEvent.Formater.FIELD.172.datatype=1
TracingEvent.Formater.FIELD.172.param=SMS:SM_ISN
TracingEvent.Formater.FIELD.172.removeIfEmpty=false

TracingEvent.Formater.FIELD.173.name=RCS_Header_TraceType
TracingEvent.Formater.FIELD.173.talid=801
TracingEvent.Formater.FIELD.173.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.173.datatype=3
TracingEvent.Formater.FIELD.173.param=TraceType
TracingEvent.Formater.FIELD.173.removeIfEmpty=false

TracingEvent.Formater.FIELD.174.name=RCS_Header_ArrivalDate
TracingEvent.Formater.FIELD.174.talid=58
TracingEvent.Formater.FIELD.174.calculator=TIArrivalDateExtractor
TracingEvent.Formater.FIELD.174.dateFormat=yyyyMMddHHmmss
TracingEvent.Formater.FIELD.174.datatype=5
TracingEvent.Formater.FIELD.174.removeIfEmpty=false

TracingEvent.Formater.FIELD.175.name=RCS_Header_FullSourceAddress
TracingEvent.Formater.FIELD.175.talid=55
TracingEvent.Formater.FIELD.175.calculator=SipFullAddressExtractor
TracingEvent.Formater.FIELD.175.datatype=1
TracingEvent.Formater.FIELD.175.defaultValue=
TracingEvent.Formater.FIELD.175.param=SIP:SOURCE_URI
TracingEvent.Formater.FIELD.175.removeIfEmpty=true

TracingEvent.Formater.FIELD.176.name=RCS_Header_FullTargetAddress
TracingEvent.Formater.FIELD.176.talid=54
TracingEvent.Formater.FIELD.176.calculator=SipFullAddressExtractor
TracingEvent.Formater.FIELD.176.datatype=1
TracingEvent.Formater.FIELD.176.defaultValue=
TracingEvent.Formater.FIELD.176.param=SIP:DESTINATION_URI
TracingEvent.Formater.FIELD.176.removeIfEmpty=true

# TODO:  Need to get message size
TracingEvent.Formater.FIELD.177.name=RCS_Header_MessageSize
TracingEvent.Formater.FIELD.177.talid=80
TracingEvent.Formater.FIELD.177.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.177.datatype=2
TracingEvent.Formater.FIELD.177.param=TRACE:CHAT_MESSAGE_SIZE
TracingEvent.Formater.FIELD.177.removeIfEmpty=true

TracingEvent.Formater.FIELD.178.name=RCS_Header_SourceType
TracingEvent.Formater.FIELD.178.talid=802
TracingEvent.Formater.FIELD.178.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.178.datatype=3
TracingEvent.Formater.FIELD.178.param=SourceType
TracingEvent.Formater.FIELD.178.removeIfEmpty=false

TracingEvent.Formater.FIELD.179.name=RCS_Header_IncomingProtocol
TracingEvent.Formater.FIELD.179.talid=338
TracingEvent.Formater.FIELD.179.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.179.datatype=1
TracingEvent.Formater.FIELD.179.param=TRACE:INCOMING_PROTOCOL
TracingEvent.Formater.FIELD.179.removeIfEmpty=true

TracingEvent.Formater.FIELD.180.name=RCS_Header_NumOfRecipients
TracingEvent.Formater.FIELD.180.talid=806
TracingEvent.Formater.FIELD.180.calculator=ConstExtractor
TracingEvent.Formater.FIELD.180.datatype=2
TracingEvent.Formater.FIELD.180.param=1
TracingEvent.Formater.FIELD.180.removeIfEmpty=true

TracingEvent.Formater.FIELD.181.name=RCS_Header_SourceEIID
TracingEvent.Formater.FIELD.181.talid=50
TracingEvent.Formater.FIELD.181.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.181.datatype=1
TracingEvent.Formater.FIELD.181.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.181.removeIfEmpty=true

TracingEvent.Formater.FIELD.182.name=RCS_Header_SourceEIClassNumber
TracingEvent.Formater.FIELD.182.talid=125
TracingEvent.Formater.FIELD.182.calculator=SourceEIClassExtractor
TracingEvent.Formater.FIELD.182.datatype=2
TracingEvent.Formater.FIELD.182.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.182.removeIfEmpty=true

TracingEvent.Formater.FIELD.183.name=RCS_Header_SourceEIGroupNumber
TracingEvent.Formater.FIELD.183.talid=126
TracingEvent.Formater.FIELD.183.calculator=SourceEIGroupNumExtractor
TracingEvent.Formater.FIELD.183.datatype=2
TracingEvent.Formater.FIELD.183.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.183.removeIfEmpty=true

TracingEvent.Formater.FIELD.184.name=RCS_Header_SMClass
TracingEvent.Formater.FIELD.184.talid=114
TracingEvent.Formater.FIELD.184.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.184.datatype=3
TracingEvent.Formater.FIELD.184.param=TRACE:SM_CLASS
TracingEvent.Formater.FIELD.184.removeIfEmpty=true

# TODO:  Add Language field is not supported yet

# TODO:  Add Message Reference Number in case of interworking

# TODO:  Add Number of Parts in case of interworking

# TODO:  Add Message Sequence Number in case of interworking

TracingEvent.Formater.FIELD.186.name=RCS_Header_RCSMessageID
TracingEvent.Formater.FIELD.186.talid=820
TracingEvent.Formater.FIELD.186.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.186.param=TRACE:CHAT_IMDN_MESSAGE_ID
TracingEvent.Formater.FIELD.186.datatype=1
TracingEvent.Formater.FIELD.186.removeIfEmpty=true

TracingEvent.Formater.FIELD.187.name=RCS_Header_MessageStoreUID
TracingEvent.Formater.FIELD.187.talid=829
TracingEvent.Formater.FIELD.187.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.187.datatype=1
TracingEvent.Formater.FIELD.187.param=CUST:TARGET_MESSAGESTORE_ID
TracingEvent.Formater.FIELD.187.removeIfEmpty=true

TracingEvent.Formater.FIELD.188.name=RCS_Header_SourceSIPInstance
TracingEvent.Formater.FIELD.188.talid=824
TracingEvent.Formater.FIELD.188.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.188.datatype=1
TracingEvent.Formater.FIELD.188.param=SIP:SIP_INSTANCE_TAG
TracingEvent.Formater.FIELD.188.removeIfEmpty=true

TracingEvent.Formater.FIELD.189.name=RCS_Header_TargetSIPInstance
TracingEvent.Formater.FIELD.189.talid=827
TracingEvent.Formater.FIELD.189.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.189.datatype=1
TracingEvent.Formater.FIELD.189.param=SIP:TARGET_SIP_INSTANCE_TAG
TracingEvent.Formater.FIELD.189.removeIfEmpty=true

TracingEvent.Formater.FIELD.190.name=RCS_Header_UserSessionID
TracingEvent.Formater.FIELD.190.talid=814
TracingEvent.Formater.FIELD.190.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.190.datatype=1
TracingEvent.Formater.FIELD.190.param=TRACE:RCS_SESSION_ID
TracingEvent.Formater.FIELD.190.removeIfEmpty=true



# --------------------------------------------
# New EVENT fields for ECS Tracing
# CHAT 1 to 1
# Fields 191 - 205
# --------------------------------------------

TracingEvent.Formater.FIELD.191.name=RCS_Event_EventNum
TracingEvent.Formater.FIELD.191.talid=1030
TracingEvent.Formater.FIELD.191.calculator=ConstExtractor
TracingEvent.Formater.FIELD.191.datatype=2
TracingEvent.Formater.FIELD.191.param=1
TracingEvent.Formater.FIELD.191.removeIfEmpty=false

TracingEvent.Formater.FIELD.192.name=RCS_Event_EventType
TracingEvent.Formater.FIELD.192.talid=123
TracingEvent.Formater.FIELD.192.calculator=ConstExtractor
TracingEvent.Formater.FIELD.192.datatype=2
TracingEvent.Formater.FIELD.192.param=99
TracingEvent.Formater.FIELD.192.removeIfEmpty=false

TracingEvent.Formater.FIELD.193.name=RCS_Event_TransactionUID
TracingEvent.Formater.FIELD.193.talid=105
TracingEvent.Formater.FIELD.193.calculator=TransactionUIDExtractor
TracingEvent.Formater.FIELD.193.datatype=1
TracingEvent.Formater.FIELD.193.removeIfEmpty=false

TracingEvent.Formater.FIELD.194.name=RCS_Event_TransactionISN
TracingEvent.Formater.FIELD.194.talid=28
TracingEvent.Formater.FIELD.194.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.194.datatype=1
TracingEvent.Formater.FIELD.194.param=SMS:SM_ISN
TracingEvent.Formater.FIELD.194.removeIfEmpty=false

TracingEvent.Formater.FIELD.195.name=RCS_Event_ArrivalDate
TracingEvent.Formater.FIELD.195.talid=58
TracingEvent.Formater.FIELD.195.calculator=TEArrivalDateExtractor
TracingEvent.Formater.FIELD.195.dateFormat=yyyyMMddHHmmss
TracingEvent.Formater.FIELD.195.datatype=5
TracingEvent.Formater.FIELD.195.removeIfEmpty=false

TracingEvent.Formater.FIELD.196.name=RCS_Event_EventDate
TracingEvent.Formater.FIELD.196.talid=34
TracingEvent.Formater.FIELD.196.calculator=OptionsEventDateExtractor
TracingEvent.Formater.FIELD.196.dateFormat=yyyyMMddHHmmss
TracingEvent.Formater.FIELD.196.datatype=5

# TODO  add RCS_Event_EventNum

TracingEvent.Formater.FIELD.197.name=RCS_Event_TargetType
TracingEvent.Formater.FIELD.197.talid=811
TracingEvent.Formater.FIELD.197.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.197.datatype=3
TracingEvent.Formater.FIELD.197.param=TargetType
TracingEvent.Formater.FIELD.197.removeIfEmpty=false

TracingEvent.Formater.FIELD.198.name=RCS_Event_UnifiedErrorId
TracingEvent.Formater.FIELD.198.talid=813
TracingEvent.Formater.FIELD.198.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.198.datatype=2
TracingEvent.Formater.FIELD.198.param=TRACE:UNIFIED_ERROR_ID_STRING
TracingEvent.Formater.FIELD.198.removeIfEmpty=true

TracingEvent.Formater.FIELD.199.name=RCS_Event_AdditionalErrorInformation
TracingEvent.Formater.FIELD.199.talid=808
TracingEvent.Formater.FIELD.199.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.199.datatype=1
TracingEvent.Formater.FIELD.199.param=TRACE:CHAT_ADDITIONAL_ERROR_INFO
TracingEvent.Formater.FIELD.199.removeIfEmpty=true

TracingEvent.Formater.FIELD.200.name=RCS_Event_OutgoingProtocol
TracingEvent.Formater.FIELD.200.talid=339
TracingEvent.Formater.FIELD.200.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.200.datatype=1
TracingEvent.Formater.FIELD.200.param=TRACE:OUTGOING_PROTOCOL
TracingEvent.Formater.FIELD.200.removeIfEmpty=true

TracingEvent.Formater.FIELD.201.name=RCS_Event_TargetEIID
TracingEvent.Formater.FIELD.201.talid=97
TracingEvent.Formater.FIELD.201.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.201.datatype=1
TracingEvent.Formater.FIELD.201.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.201.removeIfEmpty=true

TracingEvent.Formater.FIELD.202.name=RCS_Event_TargetEIClassNumber
TracingEvent.Formater.FIELD.202.talid=1061
TracingEvent.Formater.FIELD.202.calculator=SourceEIClassExtractor
TracingEvent.Formater.FIELD.202.datatype=2
TracingEvent.Formater.FIELD.202.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.202.removeIfEmpty=true

TracingEvent.Formater.FIELD.203.name=RCS_Event_TargetEIGroupNumber
TracingEvent.Formater.FIELD.203.talid=1062
TracingEvent.Formater.FIELD.203.calculator=SourceEIGroupNumExtractor
TracingEvent.Formater.FIELD.203.datatype=2
TracingEvent.Formater.FIELD.203.param=SMS:SOURCE_EI
TracingEvent.Formater.FIELD.203.removeIfEmpty=true

TracingEvent.Formater.FIELD.204.name=RCS_Event_SMState
TracingEvent.Formater.FIELD.204.talid=29
TracingEvent.Formater.FIELD.204.calculator=CPFieldExtractor
TracingEvent.Formater.FIELD.204.datatype=2
TracingEvent.Formater.FIELD.204.param=SMStateType
TracingEvent.Formater.FIELD.204.removeIfEmpty=true

TracingEvent.Formater.FIELD.205.name=RCS_Header_SessionMode
TracingEvent.Formater.FIELD.205.talid=831
TracingEvent.Formater.FIELD.205.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.205.datatype=2
TracingEvent.Formater.FIELD.205.param=TRACE:SESSION_MODE
TracingEvent.Formater.FIELD.205.removeIfEmpty=true

TracingEvent.Formater.FIELD.206.name=RCS_Header_Send_Notification_Indication
TracingEvent.Formater.FIELD.206.talid=57
TracingEvent.Formater.FIELD.206.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.206.datatype=2
TracingEvent.Formater.FIELD.206.param=TRACE:SEND_NOTIFICATION_IND
TracingEvent.Formater.FIELD.206.removeIfEmpty=true

TracingEvent.Formater.FIELD.207.name=RCS_Header_Read_Reply_Request
TracingEvent.Formater.FIELD.207.talid=804
TracingEvent.Formater.FIELD.207.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.207.datatype=1
TracingEvent.Formater.FIELD.207.param=TRACE:READ_REPLY_REQUEST
TracingEvent.Formater.FIELD.207.removeIfEmpty=true

TracingEvent.Formater.FIELD.208.name=RCS_Header_ContentType
TracingEvent.Formater.FIELD.208.talid=832
TracingEvent.Formater.FIELD.208.calculator=OREventAttributeExtractor
TracingEvent.Formater.FIELD.208.datatype=1
TracingEvent.Formater.FIELD.208.param=TRACE:MESSAGE_CONTENT_TYPE
TracingEvent.Formater.FIELD.208.removeIfEmpty=true

TracingEvent.Formater.FIELD.209.name=RCS_Operation_Detailed_Info
TracingEvent.Formater.FIELD.209.talid=816
TracingEvent.Formater.FIELD.209.calculator=com.comverse.middleware.cdr.cdrFieldExtractor.OORventList2TraceExtractor
TracingEvent.Formater.FIELD.209.param=TRACE:CHAT_OPERATION_DETAILED_INFO
TracingEvent.Formater.FIELD.209.defaultValue=
TracingEvent.Formater.FIELD.209.datatype=1
TracingEvent.Formater.FIELD.209.removeIfEmpty=true
TracingEvent.Formater.FIELD.209.seperatorTag=^
TracingEvent.Formater.FIELD.209.limit=3999
