####################### SEM TRACE_INFO for IPGW #######################
IPGW.tables = TRACE_INFO, TRACE_EVENTS

IPGW.TRACE_INFO.number_of_fields = 51

IPGW.TRACE_INFO.field.1.name = U_ID
IPGW.TRACE_INFO.field.1.tag_id = 105
IPGW.TRACE_INFO.field.1.tag_type = String
IPGW.TRACE_INFO.field.1.tag_name = U_ID

IPGW.TRACE_INFO.field.2.name = ISN
IPGW.TRACE_INFO.field.2.tag_id = 28
IPGW.TRACE_INFO.field.2.tag_type = UnsignedInt
IPGW.TRACE_INFO.field.2.tag_name = EIP_ATTR_SM_NO

IPGW.TRACE_INFO.field.3.name = ARRIVAL_DATE_AND_TIME
IPGW.TRACE_INFO.field.3.tag_id = 58
IPGW.TRACE_INFO.field.3.tag_type = String
IPGW.TRACE_INFO.field.3.tag_name = EIP_ATTR_ARRIVAL_DATE

IPGW.TRACE_INFO.field.4.name = DCS
IPGW.TRACE_INFO.field.4.tag_id = 119
IPGW.TRACE_INFO.field.4.tag_type = Integer
IPGW.TRACE_INFO.field.4.tag_name = EIP_ATTR_DATA_CODING_SCHEME

IPGW.TRACE_INFO.field.5.name = PRIORITY
IPGW.TRACE_INFO.field.5.tag_id = 24
IPGW.TRACE_INFO.field.5.tag_type = UnsignedInt
IPGW.TRACE_INFO.field.5.tag_name = EIP_ATTR_PRIORITY

IPGW.TRACE_INFO.field.6.name = CONFIRMATION_REQUEST_IND
IPGW.TRACE_INFO.field.6.tag_id = 57
IPGW.TRACE_INFO.field.6.tag_type = UnsignedShort
IPGW.TRACE_INFO.field.6.tag_name = EIP_ATTR_NOTIFY_SEND_SM

IPGW.TRACE_INFO.field.7.name = MESSAGE_LENGTH
IPGW.TRACE_INFO.field.7.tag_id = 80
IPGW.TRACE_INFO.field.7.tag_type = UnsignedInt
IPGW.TRACE_INFO.field.7.tag_name = EIP_ATTR_MESSAGE_LEN

IPGW.TRACE_INFO.field.8.name = LANGUAGE
IPGW.TRACE_INFO.field.8.tag_id = 3
IPGW.TRACE_INFO.field.8.tag_name = EIP_ATTR_LANG
IPGW.TRACE_INFO.field.8.tag_type = UnsignedShort

IPGW.TRACE_INFO.field.9.name = MESSAGE_REF
IPGW.TRACE_INFO.field.9.tag_id = 109
IPGW.TRACE_INFO.field.9.tag_type = String
IPGW.TRACE_INFO.field.9.tag_name = EIP_ATTR_MSG_REF

IPGW.TRACE_INFO.field.10.name = MESSAGE_TYPE
IPGW.TRACE_INFO.field.10.tag_id = 114
IPGW.TRACE_INFO.field.10.tag_type = UnsignedShort
IPGW.TRACE_INFO.field.10.tag_name = EIP_ATTR_SM_CLASS

IPGW.TRACE_INFO.field.11.name = FULL_SOURCE_ADDRESS
IPGW.TRACE_INFO.field.11.sibling        = 10003
IPGW.TRACE_INFO.field.11.tag_id = 55
IPGW.TRACE_INFO.field.11.tag_type = GAddress
IPGW.TRACE_INFO.field.11.tag_name = EIP_ATTR_SOURCE

IPGW.TRACE_INFO.field.12.name = FULL_TARGET_ADDRESS
IPGW.TRACE_INFO.field.12.sibling        = 10004
IPGW.TRACE_INFO.field.12.tag_id = 54
IPGW.TRACE_INFO.field.12.tag_type = GAddress
IPGW.TRACE_INFO.field.12.tag_name = EIP_ATTR_TARGET

#IPGW.TRACE_INFO.field.13.name = SOURCE_EI_CLASS
#IPGW.TRACE_INFO.field.13.suppress = true
#IPGW.TRACE_INFO.field.13.tag_id = 125
#IPGW.TRACE_INFO.field.13.tag_type = UnsignedInt
#IPGW.TRACE_INFO.field.13.tag_name = EIP_ATTR_EI_CLASS_NUM

#IPGW.TRACE_INFO.field.14.name = SOURCE_EI_GROUP
#IPGW.TRACE_INFO.field.14.suppress = true
#IPGW.TRACE_INFO.field.14.tag_id = 126
#IPGW.TRACE_INFO.field.14.tag_type = UnsignedInt
#IPGW.TRACE_INFO.field.14.tag_name = EIP_ATTR_EI_GROUP_NUM

IPGW.TRACE_INFO.field.15.name = VALIDITY_PERIOD
IPGW.TRACE_INFO.field.15.tag_id = 4
IPGW.TRACE_INFO.field.15.tag_type = Integer
IPGW.TRACE_INFO.field.15.tag_name = EIP_ATTR_VALIDITY_PERIOD

IPGW.TRACE_INFO.field.16.name = MESSAGE_TEXT_BIN
IPGW.TRACE_INFO.field.16.suppress = false
IPGW.TRACE_INFO.field.16.tag_id = 20
IPGW.TRACE_INFO.field.16.tag_type = String
IPGW.TRACE_INFO.field.16.tag_name = EIP_ATTR_SM_TEXT

IPGW.TRACE_INFO.field.17.name = SOURCE_EI_INSTANCE
IPGW.TRACE_INFO.field.17.tag_id = 50
IPGW.TRACE_INFO.field.17.tag_type = EiIdDataField
IPGW.TRACE_INFO.field.17.tag_name = EIP_ATTR_SOURCE_EI_ID

IPGW.TRACE_INFO.field.18.name = INCOMING_PROTOCOL
IPGW.TRACE_INFO.field.18.tag_id = 338
IPGW.TRACE_INFO.field.18.tag_type = String
IPGW.TRACE_INFO.field.18.tag_name = SOURCE_EI_PROTOCOL

IPGW.TRACE_INFO.field.19.name = TRACE_TYPE
IPGW.TRACE_INFO.field.19.tag_id = 801
IPGW.TRACE_INFO.field.19.tag_type = Integer
IPGW.TRACE_INFO.field.19.tag_name = TRACE_TYPE

IPGW.TRACE_INFO.field.20.name = SOURCE_TYPE
IPGW.TRACE_INFO.field.20.tag_id = 802
IPGW.TRACE_INFO.field.20.tag_type = Integer
IPGW.TRACE_INFO.field.20.tag_name = SOURCE_TYPE

IPGW.TRACE_INFO.field.21.name = NUM_OF_RECIPIENTS
IPGW.TRACE_INFO.field.21.tag_id = 806
IPGW.TRACE_INFO.field.21.tag_type = Integer
IPGW.TRACE_INFO.field.21.tag_name = NUM_OF_RECIPIENTS

IPGW.TRACE_INFO.field.22.name = READ_REPLY_REQUEST
IPGW.TRACE_INFO.field.22.tag_id = 804
IPGW.TRACE_INFO.field.22.tag_type = String
IPGW.TRACE_INFO.field.22.tag_name = READ_REPLY_REQUEST

IPGW.TRACE_INFO.field.23.name = SOURCE_APPLICATION_ID
IPGW.TRACE_INFO.field.23.tag_id = 809
IPGW.TRACE_INFO.field.23.tag_type = String
IPGW.TRACE_INFO.field.23.tag_name = SOURCE_APPLICATION_ID

IPGW.TRACE_INFO.field.24.name = OPERATOR_ID
IPGW.TRACE_INFO.field.24.tag_id = 807
IPGW.TRACE_INFO.field.24.tag_type = String
IPGW.TRACE_INFO.field.24.tag_name = OPERATOR_ID

IPGW.TRACE_INFO.field.25.name = SOURCE_ADDRESS
IPGW.TRACE_INFO.field.25.tag_id = 10003
IPGW.TRACE_INFO.field.25.tag_type = Address
IPGW.TRACE_INFO.field.25.tag_name = SOURCE_ADDRESS

IPGW.TRACE_INFO.field.26.name = TARGET_ADDRESS
IPGW.TRACE_INFO.field.26.tag_id = 10004
IPGW.TRACE_INFO.field.26.tag_type = Address
IPGW.TRACE_INFO.field.26.tag_name = TARGET_ADDRESS

IPGW.TRACE_INFO.field.27.name = USER_SESSION_ID
IPGW.TRACE_INFO.field.27.tag_id = 814
IPGW.TRACE_INFO.field.27.tag_type = String
IPGW.TRACE_INFO.field.27.tag_name = USER_SESSION_ID

IPGW.TRACE_INFO.field.28.name = HTTP_RESPONSE_STATUS
IPGW.TRACE_INFO.field.28.tag_id = 817
IPGW.TRACE_INFO.field.28.tag_type = Integer
IPGW.TRACE_INFO.field.28.tag_name = HTTP_RESPONSE_STATUS

IPGW.TRACE_INFO.field.29.name = SVC_ERROR
IPGW.TRACE_INFO.field.29.tag_id = 818
IPGW.TRACE_INFO.field.29.tag_type = String
IPGW.TRACE_INFO.field.29.tag_name = SVC_ERROR

IPGW.TRACE_INFO.field.30.name = SVC_TEXT
IPGW.TRACE_INFO.field.30.tag_id = 819
IPGW.TRACE_INFO.field.30.tag_type = String
IPGW.TRACE_INFO.field.30.tag_name = SVC_TEXT

IPGW.TRACE_INFO.field.31.name = VAS_APPLICATION_LIST
IPGW.TRACE_INFO.field.31.tag_id = 815
IPGW.TRACE_INFO.field.31.tag_type = String
IPGW.TRACE_INFO.field.31.tag_name = VAS_APPLICATION_LIST

IPGW.TRACE_INFO.field.32.name = OPERATION_DETAILED_INFO
IPGW.TRACE_INFO.field.32.tag_id = 816
IPGW.TRACE_INFO.field.32.tag_type = String
IPGW.TRACE_INFO.field.32.tag_name = OPERATION_DETAILED_INFO

IPGW.TRACE_INFO.field.33.name = SAR_MSG_REF_NUM
IPGW.TRACE_INFO.field.33.tag_id = 120
IPGW.TRACE_INFO.field.33.tag_type = Integer
IPGW.TRACE_INFO.field.33.tag_name = SAR_MSG_REF_NUM

IPGW.TRACE_INFO.field.34.name = SAR_TOTAL_SEGMENTS
IPGW.TRACE_INFO.field.34.tag_id = 121
IPGW.TRACE_INFO.field.34.tag_type = Integer
IPGW.TRACE_INFO.field.34.tag_name = SAR_TOTAL_SEGMENTS

IPGW.TRACE_INFO.field.35.name = SAR_SEGMENT_SEQNUM
IPGW.TRACE_INFO.field.35.tag_id = 122
IPGW.TRACE_INFO.field.35.tag_type = Integer
IPGW.TRACE_INFO.field.35.tag_name = SAR_SEGMENT_SEQNUM 

IPGW.TRACE_INFO.field.36.name = RCS_MESSAGE_ID
IPGW.TRACE_INFO.field.36.tag_id = 820
IPGW.TRACE_INFO.field.36.tag_type = String
IPGW.TRACE_INFO.field.36.tag_name = RCS_MESSAGE_ID 

IPGW.TRACE_INFO.field.37.name = SOURCE_MESSAGE_SUBTYPE
IPGW.TRACE_INFO.field.37.tag_id = 821
IPGW.TRACE_INFO.field.37.tag_type = Integer
IPGW.TRACE_INFO.field.37.tag_name = SOURCE_MESSAGE_SUBTYPE

IPGW.TRACE_INFO.field.38.name = TARGET_MESSAGE_SUBTYPE
IPGW.TRACE_INFO.field.38.tag_id = 822
IPGW.TRACE_INFO.field.38.tag_type = Integer
IPGW.TRACE_INFO.field.38.tag_name = TARGET_MESSAGE_SUBTYPE

IPGW.TRACE_INFO.field.39.name = PUBLIC_GRUU
IPGW.TRACE_INFO.field.39.tag_id = 823
IPGW.TRACE_INFO.field.39.tag_type = String
IPGW.TRACE_INFO.field.39.tag_name = PUBLIC_GRUU

IPGW.TRACE_INFO.field.40.name = SOURCE_SIP_INSTANCE
IPGW.TRACE_INFO.field.40.tag_id = 824
IPGW.TRACE_INFO.field.40.tag_type = String
IPGW.TRACE_INFO.field.40.tag_name = SOURCE_SIP_INSTANCE

IPGW.TRACE_INFO.field.41.name = MESSAGE_DELIVERY_TYPE
IPGW.TRACE_INFO.field.41.tag_id = 825
IPGW.TRACE_INFO.field.41.tag_type = Integer
IPGW.TRACE_INFO.field.41.tag_name = MESSAGE_DELIVERY_TYPE

IPGW.TRACE_INFO.field.42.name = ACCESS_NETWORK_INFO
IPGW.TRACE_INFO.field.42.tag_id = 901
IPGW.TRACE_INFO.field.42.tag_type = String
IPGW.TRACE_INFO.field.42.tag_name = ACCESS_NETWORK_INFO

IPGW.TRACE_INFO.field.43.name = USER_AGENT_INFO
IPGW.TRACE_INFO.field.43.tag_id = 902
IPGW.TRACE_INFO.field.43.tag_type = String
IPGW.TRACE_INFO.field.43.tag_name = USER_AGENT_INFO

IPGW.TRACE_INFO.field.44.name = IP_MESSAGE_ID
IPGW.TRACE_INFO.field.44.tag_id = 903
IPGW.TRACE_INFO.field.44.tag_type = String
IPGW.TRACE_INFO.field.44.tag_name = IP_MESSAGE_ID

IPGW.TRACE_INFO.field.45.name = IMSI
IPGW.TRACE_INFO.field.45.tag_id = 904
IPGW.TRACE_INFO.field.45.tag_type = String
IPGW.TRACE_INFO.field.45.tag_name = IMSI

IPGW.TRACE_INFO.field.46.name = MSISDN
IPGW.TRACE_INFO.field.46.tag_id = 905
IPGW.TRACE_INFO.field.46.tag_type = String
IPGW.TRACE_INFO.field.46.tag_name = MSISDN

IPGW.TRACE_INFO.field.47.name = TARGET_PUBLIC_GRUU
IPGW.TRACE_INFO.field.47.tag_id = 826
IPGW.TRACE_INFO.field.47.tag_type = Integer
IPGW.TRACE_INFO.field.47.tag_name = TARGET_PUBLIC_GRUU

IPGW.TRACE_INFO.field.48.name = TARGET_SIP_INSTANCE
IPGW.TRACE_INFO.field.48.tag_id = 827
IPGW.TRACE_INFO.field.48.tag_type = String
IPGW.TRACE_INFO.field.48.tag_name = TARGET_SIP_INSTANCE

IPGW.TRACE_INFO.field.49.name = MESSAGE_STORE_UID
IPGW.TRACE_INFO.field.49.tag_id = 829
IPGW.TRACE_INFO.field.49.tag_type = String
IPGW.TRACE_INFO.field.49.tag_name = MESSAGE_STORE_UID

IPGW.TRACE_INFO.field.50.name = SESSION_MODE
IPGW.TRACE_INFO.field.50.tag_id = 831
IPGW.TRACE_INFO.field.50.tag_type = Integer
IPGW.TRACE_INFO.field.50.tag_name = SESSION_MODE

IPGW.TRACE_INFO.field.51.name = CONTENT_TYPE
IPGW.TRACE_INFO.field.51.tag_id = 832
IPGW.TRACE_INFO.field.51.tag_type = String
IPGW.TRACE_INFO.field.51.tag_name = CONTENT_TYPE

####################### SEM TRACE_EVENTS for IPGW  #######################

IPGW.TRACE_EVENTS.number_of_fields = 17

IPGW.TRACE_EVENTS.field.1.name = U_ID
IPGW.TRACE_EVENTS.field.1.tag_id = 105
IPGW.TRACE_EVENTS.field.1.tag_type = String
IPGW.TRACE_EVENTS.field.1.tag_name = U_ID

IPGW.TRACE_EVENTS.field.2.name = EVENT_TYPE
IPGW.TRACE_EVENTS.field.2.tag_id = 123
IPGW.TRACE_EVENTS.field.2.tag_type = UnsignedShort
IPGW.TRACE_EVENTS.field.2.tag_name = EIP_ATTR_EVENT_TYPE

IPGW.TRACE_EVENTS.field.3.name = ARRIVAL_DATE_AND_TIME
IPGW.TRACE_EVENTS.field.3.tag_id = 58
IPGW.TRACE_EVENTS.field.3.tag_type = String
IPGW.TRACE_EVENTS.field.3.tag_name = EIP_ATTR_ARRIVAL_DATE

IPGW.TRACE_EVENTS.field.4.name = EVENT_DATE
IPGW.TRACE_EVENTS.field.4.tag_id = 34
IPGW.TRACE_EVENTS.field.4.tag_type = String
IPGW.TRACE_EVENTS.field.4.tag_name = EIP_ATTR_STATE_DATE_AND_TIME

IPGW.TRACE_EVENTS.field.5.name = UNIFIED_ERROR_ID
IPGW.TRACE_EVENTS.field.5.default_value = -1
IPGW.TRACE_EVENTS.field.5.tag_id = 813
IPGW.TRACE_EVENTS.field.5.tag_type = Integer
IPGW.TRACE_EVENTS.field.5.tag_name = UNIFIED_ERROR_ID

IPGW.TRACE_EVENTS.field.6.name =  SM_STATE
IPGW.TRACE_EVENTS.field.6.tag_id = 29
IPGW.TRACE_EVENTS.field.6.tag_type = UnsignedShort
IPGW.TRACE_EVENTS.field.6.tag_name = EIP_ATTR_SM_STATE

IPGW.TRACE_EVENTS.field.7.name = TARGET_EI_CLASS
IPGW.TRACE_EVENTS.field.7.suppress = true
IPGW.TRACE_EVENTS.field.7.tag_id =  1061
IPGW.TRACE_EVENTS.field.7.tag_type = UnsignedInt
IPGW.TRACE_EVENTS.field.7.tag_name = EIP_ATTR_TARGET_EI_CLASS

IPGW.TRACE_EVENTS.field.8.name =  TARGET_EI_GROUP
IPGW.TRACE_EVENTS.field.8.suppress = true
IPGW.TRACE_EVENTS.field.8.tag_id = 1062
IPGW.TRACE_EVENTS.field.8.tag_type = UnsignedInt
IPGW.TRACE_EVENTS.field.8.tag_name = EIP_ATTR_TARGET_EI_GROUP

IPGW.TRACE_EVENTS.field.9.name = TARGET_EI_INSTANCE
IPGW.TRACE_EVENTS.field.9.tag_id = 97
IPGW.TRACE_EVENTS.field.9.tag_type = EiIdDataField
IPGW.TRACE_EVENTS.field.9.tag_name = EIP_ATTR_TARGET_EI_ID

IPGW.TRACE_EVENTS.field.10.name = NOTIFICATION
IPGW.TRACE_EVENTS.field.10.tag_id = 57
IPGW.TRACE_EVENTS.field.10.tag_type = UnsignedShort
IPGW.TRACE_EVENTS.field.10.tag_name = EIP_ATTR_NOTIFY_SEND_SM

IPGW.TRACE_EVENTS.field.11.name = EVENT_SEQ
IPGW.TRACE_EVENTS.field.11.tag_id = 1030
IPGW.TRACE_EVENTS.field.11.tag_type = UnsignedInt
IPGW.TRACE_EVENTS.field.11.tag_name = EIP_ATTR_EVENT_NUM

IPGW.TRACE_EVENTS.field.12.name = ISN
IPGW.TRACE_EVENTS.field.12.tag_id = 28
IPGW.TRACE_EVENTS.field.12.tag_type = UnsignedInt
IPGW.TRACE_EVENTS.field.12.tag_name = EIP_ATTR_SM_NO

IPGW.TRACE_EVENTS.field.13.name = OUTGOING_PROTOCOL
IPGW.TRACE_EVENTS.field.13.tag_id = 339
IPGW.TRACE_EVENTS.field.13.tag_type = String
IPGW.TRACE_EVENTS.field.13.tag_name = OUTGOING_PROTOCOL

IPGW.TRACE_EVENTS.field.14.name = TARGET_TYPE
IPGW.TRACE_EVENTS.field.14.tag_id = 811
IPGW.TRACE_EVENTS.field.14.tag_type = Integer
IPGW.TRACE_EVENTS.field.14.tag_name = TARGET_TYPE

IPGW.TRACE_EVENTS.field.15.name = TARGET_APPLICATION_ID
IPGW.TRACE_EVENTS.field.15.tag_id = 812
IPGW.TRACE_EVENTS.field.15.tag_type = String
IPGW.TRACE_EVENTS.field.15.tag_name = TARGET_APPLICATION_ID

IPGW.TRACE_EVENTS.field.16.name = ADDITIONAL_ERROR_INFORMATION
IPGW.TRACE_EVENTS.field.16.tag_id = 808
IPGW.TRACE_EVENTS.field.16.tag_type = String
IPGW.TRACE_EVENTS.field.16.tag_name = ADDITIONAL_ERROR_INFORMATION

IPGW.TRACE_EVENTS.field.17.name =  INSTANCE_NUMBER
IPGW.TRACE_EVENTS.field.17.default_value = 1
IPGW.TRACE_EVENTS.field.17.tag_id = 10005
IPGW.TRACE_EVENTS.field.17.tag_type = Integer
IPGW.TRACE_EVENTS.field.17.tag_name = INSTANCE_NUMBER